/* ------------------------------------- 
	страница En
	------------------------------------- */

.header-en
	.logo
		margin-right: auto
	.lang
		margin-left: 45px

.page-en
	.hero
		padding: 75px 0 75px 72px
		background-size: contain
		&::before, &::after
			display: none


.competences
	margin-top: 45px
	padding: 45px 0 20px 72px
	box-shadow: 10px 17px 62px rgba(0, 0, 0, 0.05)
	.info-items__row
		width: calc(100% + 30px)
		margin-left: -15px
	.info-item
		width: 24%
		padding: 15px
		margin-bottom: 25px
		&:hover
			box-shadow: none































