- var page = "en"
- var slick = true
- var partners_slider = true


doctype html
html(lang="en")

	include pug-modules/head

	body

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			
			.page.page-en

				.container

					.hero
						.hero__content
							.h1.page-title Trinity is a system integrator with a great experience in&nbsp;implementing complex IT&nbsp;projects: 
							p.text-1 the creation of reliable IT infrastructures for business continuity, information security, predictive analytics, IT audit, building clouds , production and supply of a wide range of IT equipment.
								
					// /.hero


					section.competences
						.h2 Major competences

						.info-items__row.flex
							.info-item
								.info-item__ic
									img(src="img/ic-info-4.png", alt="alt")
								p.text-2 Servers and storage systems
							.info-item
								.info-item__ic
									img(src="img/ic-info-1.png", alt="alt")
								p.text-2 Complex integration services
							.info-item
								.info-item__ic
									img(src="img/ic-info-6.png", alt="alt")
								p.text-2 Design of server rooms and data centers
							.info-item
								.info-item__ic
									img(src="img/ic-info-5.png", alt="alt")
								p.text-2 Virtualization of servers, storage systems, workstations
							.info-item
								.info-item__ic
									img(src="img/ic-info-7.png", alt="alt")
								p.text-2 Predictive Analytics
							.info-item
								.info-item__ic
									img(src="img/ic-info-8.png", alt="alt")
								p.text-2 Failover clustering solutions, backup and disaster recovery
							.info-item
								.info-item__ic
									img(src="img/ic-info-3.png", alt="alt")
								p.text-2 Software and information security
							.info-item
								.info-item__ic
									img(src="img/ic-info-9.png", alt="alt")
								p.text-2 Media-solutions for television: broadcast automation and production, media archiving, IPTV



					.section-padding
						.h2 Partners
						p.text-1 We work only with proven and well-known vendors all over the world:

						ul.partners-list.list.flex
							li
								img(src="img/partners/img-partner-1.jpg", alt="alt")
							li
								img(src="img/partners/img-partner-1.jpg", alt="alt")
				
				// /.container




				section.partners
					.container
						.partners__header
							.h2 They trust us:
							.partners-slider-dots
							.partners-slider-arrows

						.partners-slider
							.slide
								ul.partners-list.list.flex
									li
										img(src="img/partners/img-partner-1.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-2.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-3.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-4.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-5.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-6.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-7.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-8.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-9.jpg", alt="alt")
							.slide
								ul.partners-list.list.flex
									li
										img(src="img/partners/img-partner-10.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-11.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-12.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-13.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-14.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-15.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-16.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-17.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-18.jpg", alt="alt")
							.slide
								ul.partners-list.list.flex
									li
										img(src="img/partners/img-partner-1.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-3.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-18.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-4.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-6.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-5.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-7.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-8.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-2.jpg", alt="alt")
							.slide
								ul.partners-list.list.flex
									li
										img(src="img/partners/img-partner-16.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-9.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-10.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-11.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-12.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-13.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-17.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-14.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-15.jpg", alt="alt")
							.slide
								ul.partners-list.list.flex
									li
										img(src="img/partners/img-partner-1.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-2.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-3.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-4.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-5.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-6.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-17.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-14.jpg", alt="alt")
									li
										img(src="img/partners/img-partner-15.jpg", alt="alt")


					// /.container

				// /.partners



				// writeform
				include pug-modules/writeform
				// /.writeform



			// /.page




			// footer
			include pug-modules/footer
			// /.footer
			



		// /.main-wrapper

