- var page = "kartochka-servera-2"



doctype html
html(lang="ru")

	include pug-modules/head

	body

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			
			.page

				.breadcrumbs
					.container
						ul.breadcrumbs__list.list
							li
								a.breadcrumbs__home(title='Главная', href='/')
							li
								a(title='Продукты', href='#')
									span Продукты
							li
								a(title='Серверное оборудование', href='#')
									span Серверное оборудование
							li
								a(title='Серверы Supermicro / Тринити', href='#')
									span Серверы Supermicro
							li
								span Серверы Rackmount 1U

				// /.breadcrumbs


				.container

					.h1.page-title SuperServer 1029U-TN12RV

					.server-hero
						.f-row
							.cols.col-1-2
								.server-hero__img.server-hero__main
									img(src="img/img-server-4.jpg", alt="alt")
							.cols.col-1-4
								.server-hero__img.server-hero__add
									img(src="img/img-server-5.jpg", alt="alt")
									img(src="img/img-server-6.jpg", alt="alt")
							.cols.col-1-4
								.server-price
									.server-price__top
										.server-price__title.h3 Цена по запросу
										button.btn.btn--color(type="button") Отправить запрос
									.server-price__links.text-2
										a.server-price__link(href="#") Сконфигурировать самому
										a.server-price__link(href="#") Проконсультироваться 
											span.nowrap у специалиста

					// /.server-hero


				// /.container


				.server-feautures
					.container
						.h2 Key Features
						.p-relative
							.server-feautures__unordered
								.f-row
									.cols.col-1-4
										ul.text-list.list
											li Key Features
											li Cloud Computing
									.cols.col-1-4
										ul.text-list.list
											li Virtualization
											li High End Enterprise Server
							// /.server-feautures__unordered

							.server-feautures__ordered
								ol.list.f-row
									li.cols.col-1-4
										.server-feautures__item.text-2 Dual Socket P (LGA 3647) support 2nd Gen. Intel® Xeon® Scalable processors (Cascade Lake/Skylake)‡
									li.cols.col-1-4
										.server-feautures__item.text-2 24 DIMMs; up to 6TB 3DS ECC    DDR4-2933MHz† RDIMM/LRDIMM,    Supports Intel® Optane™ DCPMM††
									li.cols.col-1-4
										.server-feautures__item.text-2 1 PCI-E 3.0 x16 (FH, 10.5"L), 1 PCI-E 3.0 x8 (LP), 1 internal PCI-E 3.0 x16 (for SMCI storage controller)
									li.cols.col-1-4.server-feautures__empty
									li.cols.col-1-4
										.server-feautures__item.text-2 Flexible networking options, up to 25GbE via Ultra Riser car
									li.cols.col-1-4
										.server-feautures__item.text-2 12 Hot-swap 2.5" NVMe/SATA3 drive bays
									li.cols.col-1-4
										.server-feautures__item.text-2 8 Heavy duty fans w/ optimal fan speed control
									li.cols.col-1-4
										.server-feautures__item.text-2 1200W Redundant Power Supplies Titanium Level (96%)
							// /.server-feautures__ordered

							.config-info.text-2.mob-hidden
								p Данный сервер можно сконфигурировать, заменив любые детали на подходящие вам.

						// аккордион
						.block-col
							ul.accordion.accordion--white.list.text-2
								li
									.accordion-btn Развернуть все спецификации 1
										span.accordion-ic
									.accordion-content.text-2
										.spec-row
											.spec-col Memory Capacity 
											.spec-col 
												ul.list
													li 24 DIMM slots
													li Up to 6TB 3DS ECC DDR4-2933MHz RDIMM/LRDIMM
													li Supports Intel® Optane™ DCPMM
										.spec-row
											.spec-col Memory Type
											.spec-col 
												ul.list
													li 2933/2666/2400/2133MHz ECC DDR4 RDIMM/LRDIMM
													li 2666 ECC DDR4 NVDIMM
								li
									.accordion-btn Развернуть все спецификации 2
										span.accordion-ic
									.accordion-content.text-2
										.spec-row
											.spec-col Memory Capacity 
											.spec-col 
												ul.list
													li 24 DIMM slots
													li Up to 6TB 3DS ECC DDR4-2933MHz RDIMM/LRDIMM
													li Supports Intel® Optane™ DCPMM
										.spec-row
											.spec-col Memory Type
											.spec-col 
												ul.list
													li 2933/2666/2400/2133MHz ECC DDR4 RDIMM/LRDIMM
													li 2666 ECC DDR4 NVDIMM
								li
									.accordion-btn Развернуть все спецификации 3
										span.accordion-ic
									.accordion-content.text-2
										.spec-row
											.spec-col Memory Capacity 
											.spec-col 
												ul.list
													li 24 DIMM slots
													li Up to 6TB 3DS ECC DDR4-2933MHz RDIMM/LRDIMM
													li Supports Intel® Optane™ DCPMM
										.spec-row
											.spec-col Memory Type
											.spec-col 
												ul.list
													li 2933/2666/2400/2133MHz ECC DDR4 RDIMM/LRDIMM
													li 2666 ECC DDR4 NVDIMM
						// /аккордион

								


						// /.p-relative

				// /.server-feautures

			

				.container
					.config-info.text-2.desktop-hidden
						p Данный сервер можно сконфигурировать, заменив любые детали на подходящие вам.


				.server-descr
					.container
						.h2 Описание
						.block-col.text-2
							p Одна из особенностей данной модели - малая глубина корпуса, позволяющая установку в шкафы 19" глубиной 600мм. По желанию Заказчика машина комплектуется адаптерами SAS или Fibre Channel, позволяющими подключать мощные отказоустойчивые внешние системы хранения данных.
							p Сервер может эксплуатироваться совместно как с СХД начального уровня, так и системами среднего класса (IBM, HDS, Sun, NetApp), объединенных в SAN. Если Вам необходимо наличие дублированных блоков питания, расширенные возможности удаленного управления (IPMI) или больший объем ОЗУ, рекомендуем обратить внимание на модель E210-M4 
				// /.server-descr


				.server-support
					.container
						.h2 Техподдержка
						ul.server-support__list.list.f-row
							li.cols.col-1-4
								.server-support-item
									.info-item__ic
										img(src="img/ic-info-white-1.png", alt="alt")
									p.text-2 Стандартные 
										span.nowrap гарантийные условия.
							li.cols.col-1-4
								.server-support-item
									.info-item__ic
										img(src="img/ic-info-white-2.png", alt="alt")
									p.text-2 
										span.server-support-item__title Онлайн-форум: 
										a(href="#", target="_blank", rel="noopener") www.3nity.ru
							li.cols.col-1-4
								.server-support-item
									.info-item__ic
										img(src="img/ic-info-white-3.png", alt="alt")
									p.text-2 
										span.server-support-item__title Сервисные центры и офисы: 
										| Москва, Санкт-Петербург, Екатеринбург, другие регионы.
							li.cols.col-1-4
								.server-support-item
									.info-item__ic
										img(src="img/ic-info-white-4.png", alt="alt")
									p.text-2 
										span.server-support-item__title Документация, прошивки и ПО: 
										| платформа, ASR2405, ASR5405, LSISAS3442E-R, QLE2460, QLE2462.

				// /.server-support


				.server-delivery.section-padding
					.container
						.h2 Поставки
						.f-row
							.cols.col-1-3
								p.text-2 Приобрести сервер можно в любом из&nbsp;наших офисов в Москве, Санкт-Петербурге, Екатеринбурге и Новосибирске. Жители других городов могут заказать доставку курьерской службой «до дверей».
							.cols.col-1-3
								p.text-2 Срок изготовления - стандартно 1-2 недели, уточняйте у наших менеджеров. Продажа осуществляется только по безналичному расчету. Стоимость сервера можно рассчитать самостоятельно, воспользовавшись конфигуратором, либо обратиться к нашим специалистам.  Цены в конфигураторе - лист-прайс, скидки обсуждаются индивидуально.
							.cols.col-1-3
								p.text-2 Любые технические вопросы по серверу, а также вопросы конфигурирования системы в соответствии с Вашей задачей, Вы можете задать нашим специалистам 
									a(href="#") (см. раздел Техническая поддержка). 


				// writeform
				include pug-modules/writeform
				// /.writeform
				




			// /.page




			// footer
			include pug-modules/footer
			// /.footer
			



		// /.main-wrapper


		









