- var page = "virtualizatsiya-sistem-hraneniya"



doctype html
html(lang="ru")

	include pug-modules/head

	body

		.main-wrapper

			// header
			include pug-modules/header
			// /.header

			
			.page

				.breadcrumbs
					.container
						ul.breadcrumbs__list.list
							li
								a.breadcrumbs__home(title='Главная', href='/')
							li
								a(title='Решения', href='resheniya.html')
									span Решения
							li
								span Виртуализация систем хранения 

				// /.breadcrumbs


				.container

					.h1.page-title Виртуализация систем хранения 

					ul.virtualiztion-links.text-2.list
						li
							a.virtualiztion-link(href="#") Виртуализация серверов
						li
							a.virtualiztion-link(href="#") Виртуализация систем хранения 
						li
							a.virtualiztion-link(href="#") Виртуализация приложений
						li
							a.virtualiztion-link(href="#") Виртуализация рабочих станций - VDI
					
				// /.container


				.bg-section
					.container
						.block-col.text-1
							p Виртуализация — запуск одной или нескольких систем в рамках другой операционной системы на одной вычислительной машине.
							p Виртуализация может быть реализована на разных уровнях, но во всех случаях тип, количество и организация систем хранения — все это остается для сервера за кадром. 


				.container
					.virtualiztion-block
						.responsive-row.f-row
							.cols.col-1-2
								img(src="content/img-virtualization-1.jpg", alt="alt")
							.cols.col-1-2
								p.h2 Если у нас есть подходящая картинка или схема, можем ставить чтобы не только был текст


				.section-padding
					.container
						.h2 Возможности систем виртуализации
						.block-col
							ul.accordion.list.text-1
								li
									.accordion-btn Подключение и настройка новых серверов
										span.accordion-ic
									.accordion-content.text-2
										.text-2.text-col
											p Система виртуализации может располагаться на любых дисковых системах или располагаться одновременно на разных СХД. Не требуется изменять зонирование на коммутаторах и не нужна длительная остановка сервера.
											p Все действия могут быть выполнены в рабочее время, либо во внеурочное, когда время на работы сокращено в разы (как и непосредственные затраты).
								li
									.accordion-btn Выделение дополнительного дискового пространства серверу
										span.accordion-ic
									.accordion-content.text-2
										.text-2.text-col
											p Система виртуализации может располагаться на любых дисковых системах или располагаться одновременно на разных СХД. Не требуется изменять зонирование на коммутаторах и не нужна длительная остановка сервера.
											p Все действия могут быть выполнены в рабочее время, либо во внеурочное, когда время на работы сокращено в разы (как и непосредственные затраты).
								li
									.accordion-btn Миграция данных между системами хранения
										span.accordion-ic
									.accordion-content.text-2
										.text-2.text-col
											p Система виртуализации может располагаться на любых дисковых системах или располагаться одновременно на разных СХД. Не требуется изменять зонирование на коммутаторах и не нужна длительная остановка сервера.
											p Все действия могут быть выполнены в рабочее время, либо во внеурочное, когда время на работы сокращено в разы (как и непосредственные затраты).
								li
									.accordion-btn Построение катастрофоустойчивых систем
										span.accordion-ic
									.accordion-content.text-2
										.text-2.text-col
											p Система виртуализации может располагаться на любых дисковых системах или располагаться одновременно на разных СХД. Не требуется изменять зонирование на коммутаторах и не нужна длительная остановка сервера.
											p Все действия могут быть выполнены в рабочее время, либо во внеурочное, когда время на работы сокращено в разы (как и непосредственные затраты).
								li
									.accordion-btn Плановое обслуживание СХД
										span.accordion-ic
									.accordion-content.text-2
										.text-2.text-col
											p Система виртуализации может располагаться на любых дисковых системах или располагаться одновременно на разных СХД. Не требуется изменять зонирование на коммутаторах и не нужна длительная остановка сервера.
											p Все действия могут быть выполнены в рабочее время, либо во внеурочное, когда время на работы сокращено в разы (как и непосредственные затраты).


				.section-padding
					.container
						.responsive-row.f-row
							.cols.col-1-2
								.text-2
									p Технология "thin provisioning" - выделение дискового пространства по мере необходимости, которая есть в системах виртуализации (IBM SVC, HDS USP/USP-V).
									p Данная технология позволяет выделить серверу заведомо больший объем дискового пространства, чем требуется, но реальное дисковое пространство будет выделяться по мере записи новых данных. 
									p Это позволяет оптимизировать использование дискового пространства, при этом существенно экономя на закупке новых дисков.
							.cols.col-1-2
								.accent-block.text-1
									p Система виртуализации упрощает непосредственное администрирование СХД и значительно снижает расходы на решение остальных задач эксплуатации систем хранения.
					

				.section-padding
					.container
						ul.page-nav.list
							li
								a.page-nav__link.page-nav__prev(href="virtualizatsiya-serverov.html") Виртуализация серверов
							li
								a.page-nav__link.page-nav__next(href="#") Виртуализация приложений




				// writeform
				include pug-modules/writeform
				// /.writeform
				




			// /.page




			// footer
			include pug-modules/footer
			// /.footer
			



		// /.main-wrapper


		









